openapi: 3.1.0
info:
  title: Zanalytics Pulse – YFinance Backup API
  version: 0.1.0
  description: |
    Minimal backup endpoints that source bars via Yahoo Finance.
    Use this spec if the primary market data feed is unavailable.
servers:
  - url: https://query1.finance.yahoo.com
paths:
  /v8/finance/chart/{symbol}:
    get:
      summary: Yahoo Finance chart data (bars)
      operationId: getYFChart
      parameters:
        - in: path
          name: symbol
          required: true
          schema: { type: string }
          description: Ticker (e.g., SPY, EURUSD=X, GC=F)
        - in: query
          name: interval
          schema: { type: string, default: 1h }
          description: One of 1m, 2m, 5m, 15m, 30m, 1h, 1d (as supported by Yahoo Finance)
        - in: query
          name: range
          schema: { type: string, default: 60d }
          description: One of 5d, 30d, 60d, 1y, etc.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  chart:
                    type: object
                    properties:
                      result:
                        type: array
                        items:
                          type: object
                          properties:
                            meta:
                              type: object
                              properties:
                                symbol: { type: string }
                                interval: { type: string }
                                currency: { type: string }
                            timestamp:
                              type: array
                              items: { type: integer }
                            indicators:
                              type: object
                              properties:
                                quote:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      open:   { type: array, items: { type: number, nullable: true } }
                                      high:   { type: array, items: { type: number, nullable: true } }
                                      low:    { type: array, items: { type: number, nullable: true } }
                                      close:  { type: array, items: { type: number, nullable: true } }
                                      volume: { type: array, items: { type: number, nullable: true } }
                      error:
                        type: object
                        nullable: true
security: []
components:
  schemas: {}
