openapi: 3.1.0
info:
  title: Zanalytics Pulse – Actions Bus (Slim)
  version: 0.1.1
  description: |
    Slim spec for agent-facing Actions routed via a single endpoint.
    Keeps the main API under the 30‑operation cap while exposing core verbs.
servers:
  - url: https://django2.zanalytics.app
paths:
  /api/v1/actions/read:
    get:
      operationId: getActionsRead
      summary: Read action descriptors
      parameters:
        - name: name
          in: query
          schema: { type: string }
          description: Single action name (e.g., session_boot)
        - name: group
          in: query
          schema: { type: string }
          description: Action group/namespace (e.g., whisperer)
        - name: keys
          in: query
          schema:
            type: string
            description: Comma-separated list of action names
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        name:   { type: string }
                        version:{ type: string }
                        type:   { type: string, enum: [read, query, execute] }
                        schema: { type: object, additionalProperties: true }
                        meta:   { type: object, additionalProperties: true }

  /api/v1/actions/query:
    post:
      operationId: postActionsQuery
      summary: Execute a query-style action and return data
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [type]
              properties:
                type:
                  type: string
                  description: Action name (e.g., session_boot)
                payload:
                  type: object
                  additionalProperties: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  action: { type: string }
                  data:
                    type: object
                    additionalProperties: true

