openapi: 3.1.0
info:
  title: Zanalytics Pulse – Actions Bus (Slim)
  version: 0.1.0
  description: |
    Slim spec for agent-facing Actions routed via a single endpoint.
    Keeps the main API under the 30‑operation cap while exposing core verbs.
servers:
  - url: https://django2.zanalytics.app
paths:
  /api/v1/actions/query:
    post:
      summary: Execute an action (query verbs)
      operationId: postActionsQuery
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActionQueryRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/WhisperSuggestResponse'
                  - type: array
                    description: trades_recent result
                    items:
                      $ref: '#/components/schemas/TradeItem'
                  - $ref: '#/components/schemas/SessionBootResponse'
                  - type: array
                    description: trades_history_mt5 result
                    items:
                      $ref: '#/components/schemas/TradeHistoryItem'
        '400': { description: Bad Request }
        '500': { description: Server Error }

components:
  schemas:
    ActionQueryRequest:
      type: object
      required: [type]
      properties:
        type:
          type: string
          description: Action verb
          enum: [whisper_suggest, trades_recent, session_boot, trades_history_mt5]
        payload:
          type: object
          additionalProperties: true
          description: Action-specific parameters

    WhisperSuggestResponse:
      type: object
      properties:
        message: { type: string, nullable: true }
        heuristics:
          type: array
          items:
            type: object
            description: Serialized heuristic whispers
        meta:
          type: object
          properties:
            user_id: { type: string }
            symbol: { type: string }

    TradeItem:
      type: object
      properties:
        id: { type: integer }
        ts_open: { type: string, nullable: true }
        ts_close: { type: string, nullable: true }
        symbol: { type: string }
        side: { type: string, nullable: true }
        entry: { type: number, nullable: true }
        exit: { type: number, nullable: true }
        pnl: { type: number, nullable: true }
        rr: { type: number, nullable: true }
        strategy: { type: string, nullable: true }
        session: { type: string, nullable: true }

    SessionBootResponse:
      type: object
      description: Composite boot snapshot for LLM initialization
      properties:
        trades:
          type: array
          items: { $ref: '#/components/schemas/TradeItem' }
        positions:
          type: array
          items:
            type: object
            additionalProperties: true
        equity:
          type: object
          nullable: true
          properties:
            balance_usd: { type: number, nullable: true }
            pnl_ytd_pct: { type: number, nullable: true }
            drawdown_pct: { type: number, nullable: true }
        risk:
          type: object
          nullable: true
          properties:
            daily_profit_pct: { type: number, nullable: true }
            daily_risk_pct: { type: number, nullable: true }
            used_pct: { type: number, nullable: true }
            exposure_pct: { type: number, nullable: true }

    TradeHistoryItem:
      type: object
      properties:
        id: { type: string }
        ts: { type: string, nullable: true }
        symbol: { type: string }
        direction: { type: string, nullable: true }
        entry: { type: number, nullable: true }
        exit: { type: number, nullable: true }
        pnl: { type: number, nullable: true }
        status: { type: string, nullable: true }

security: []
