backend==0.2.4.1
celery==5.5.3
chromadb==1.0.21
confluent_kafka==2.3.0
core==1.0.1
dashboard==0.0.6
Django==5.2.6
faiss==1.5.3
fastapi==0.116.1
graphviz==0.21
httpx==0.28.1
joblib==1.5.2
matplotlib==3.10.6
mcp_server==0.1.4
MetaTrader5==5.0.5260
numpy==2.3.3
pandas==2.3.2
pinecone==7.3.0
plotly==6.3.0
prometheus_client==0.22.1
pydantic==2.11.7
pytz==2025.2
PyYAML==6.0.2
redis==6.4.0
Requests==2.32.5
scikit_learn==1.7.2
services==0.1.1
smartmoneyconcepts==0.0.26
streamlit==1.49.1
streamlit_autorefresh==1.0.1
ta==0.11.0
tenacity==9.1.2
uvicorn==0.35.0
xgboost==3.0.5
